{% extends "layouts/base.html" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <style>
        h1 span { 
            background-image: linear-gradient(60deg, #E21143, #FFB03A); 
            color: white;
        }

    </style>

    <div class="px-5 py-5 mx-auto">

        <br>

<div class="col-15">
                   

    <center>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Enter word</h5>
            <p class="card-text">
                <form action="/apitesting/" method="POST">
                    <div class="form-group">
                      <label for="wordLabel">Enter word</label>
                      <input type="text" class="form-control" id="wordLabel" aria-describedby="emailHelp" placeholder="Enter word" name='inputWord'>
                    </div>
                  
                  
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </p>
            </div>
        </div>
    </center>

</div>

</div>

       
        


{% endblock %}