{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<html>
    <head>
        <div class="px-5 py-5 mx-auto">
            <h1 class="text-black"><strong>Dictonary</strong></h1>
            <h4 class="text-black">Input your word and hit enter:</h6>

            <br>

            <div class="col-15">
                            

                <center>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Enter word</h5>
                        <p class="card-text">

                            <!-- Form: Accepts user input of dictionary word, passes the input into variable inputWord to send to backend main.py file-->
                            <form action="/apitesting/" method="POST">
                                <div class="form-group">
                                <label for="wordLabel"></label>
                                <input type="text" class="form-control" id="wordLabel" aria-describedby="emailHelp" placeholder="Enter word" name='inputWord'>
                                </div>
                            
                            
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </p>
                        </div>
                    </div>
                </center>

            </div>

            <div class="row">
        </div>
        <body style="background-color:#c3e1eb;">
    </head>

    <br>
    <br>
    <h2>Word of the Day:</h2>
    <h3>Expand your vocabulary one word at a time!</h3>
    <br>
   
     <div class="card">
            <center><h4>{{wordOfTheDayPrinted}}</h4></center>
            <br>
            <p>{{newDef}}</p>
     </div>
</html>
    

{% endblock %}

<!-- this blocks the bird background -->
{% block background %}
{% endblock %}
