{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<html>
    <head>
        <div class="px-5 py-5 mx-auto">
            <h1 class="text-black"><strong>Dictonary</strong></h1>
            <h6 class="text-black">Input your word and hit enter</h6>

            <br>

            <div class="col-15">
                            

                <center>
                    <div class="card">
                        <div class="card-body">
                        <h5 class="card-title">Enter word</h5>
                        <p class="card-text">
                            <form action="/apitesting/" method="POST">
                                <div class="form-group">
                                <label for="wordLabel"></label>
                                <input type="text" class="form-control" id="wordLabel" aria-describedby="emailHelp" placeholder="Enter word" name='inputWord'>
                                </div>
                            
                            
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </p>
                        </div>
                    </div>
                </center>

            </div>

            <div class="row">
        </div>
        <body style="background-color:#c3e1eb;">
    </head>

    <table>
        <table style="font-family:Georgia, Garamond, Serif;color:#FFF0AC;" bordercolor=#FFF0AC WIDTH="100%" HEIGHT="500" border-width="1">
            <colgroup>
                <col span="1" style="background-color: #46AACB">
                <col span="2" style="background-color: #46AACB">
            </colgroup>
        <tr>
            <th style="text-align: center;width:30%" ><strong>---Word---</strong></th>
            <td>---</td>
        </tr>
        <tr>
            <th style="text-align: center;width:30%" ><strong>---Definition---</strong></th>
            <td>---</td>
        </tr>
    </table>

    <br>
    <h2>Word of the Day:</h2>
    <h4>{{wordOfTheDayPrinted}}</h4>
    <p>{{newDef}}</p>
</html>
    
{% endblock %}

<!-- this blocks the bird background -->
{% block background %}
{% endblock %}
